<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Crud-Pizzeria</title>
    <th:block th:replace="~{fragments/resources :: style}"> </th:block>
  </head>
  <body>
    <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
    <main>
      <div class="container mt-4" th:object="${pizza}">
        <div class="row detailSection p-3 rounded">
          <div class="col-4">
            <div class="border border-3 border-dark">
              <img class="img-fluid" th:src="@{*{image_url}}" alt="" />
            </div>
          </div>
          <div class="col-8">
            <div class="d-flex flex-column gap-2">
              <h1>Pizza: [[*{name}]]</h1>
              <div><span class="fw-bold">ID:</span> <span>[[*{id}]]</span></div>
              <div>
                <span class="fw-bold">Description:</span>
                <span>[[*{description}]]</span>
              </div>
              <div>
                <span class="fw-bold">Price:</span>
                <span>[[*{price}]] &euro;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:replace="~{fragments/resources :: bootstrapJs}"></th:block>
  </body>
</html>
